body{
    background-color:#d14836;
    margin: auto 20%;
    font-family: Arial;
}
.first {

    height: 420px;
    width: 100%;
    background-color: white;
    position: relative;
}
.first  h3,a{
    color: #d14836;
}
.first p{
    font-size: 4mm;
    font-weight: 100;
    color: black;
}
.second{
    height: 150px;
    width: 100%;
    background-color: antiquewhite;
    position: absolute;
    bottom: 0%;
}
.second p,h5{
    color: #d14836;
}
.text{
    width: 50%;
    
}
.button{
    position: absolute;
    right: 20%;
    top: 25px;
    height: 50px;
    width: 10%;

}
button{
    display: inline-block;
    border-radius: 20px;
    height: 35px;
    width: 100%;
    color: white;
    background: #d14836;
    margin-bottom: 10px;
    font-size: 5mm;
}
button:hover{
    color: #d14836;
    background-color: white;
    cursor: 'pointer';
}

#front{
    color: white;
}
.buang p{
    text-align: center;
}